.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.filter_tag {
  padding-left: 5px;
}

.filter {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 8px;
}

.filter_tree {
  margin-top: 10px;
  font-size: 1.05rem;
}

.aux_filters {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.aux_tags {
  margin-left: 19px;
  margin-top: 12px;
}
