.next-button {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: x-large;
  border-radius: 0.25rem;
}

.flex {
  display: flex;
  align-items: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.problem-of-day-card {
  min-width: 0;
  word-wrap: break-word;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.shadow {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2) !important;
}

.padding {
  padding-left: 0;
}

.button-cursor {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}
.darken:hover {
  background-color: var(--secondary-4);
}

.truncated {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.prob-of-day-btn {
  border: 1px solid var(--secondary-4);
  width: 15%;
  padding: 0.2rem;
  border-radius: 0.25rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.pt-3 {
  padding-top: 1rem !important;
}
.problem_of_day {
  max-width: 90%;
}
