.qinsession-btn {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    min-height: 35px;
}

.qinsession-btn:hover {
    background-color: #ddd;
}

.q-in-session-img {
    display: block;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.q-button-img {
    width: 15px;
    margin: 1rem;
}